<ng-template [ngIf]="loading";>
<mat-spinner></mat-spinner>
</ng-template>
<mat-form-field appearance="outline" class="search adjust-search">
    <mat-label>Search todos</mat-label>
    <input (keyup)="applyFilter($event.target.value)" matInput>
</mat-form-field>
<div class="adjust-toggle">
    <mat-button-toggle-group value="all">
        <mat-button-toggle value="Id">Id</mat-button-toggle>
        <mat-button-toggle value="User Id">User Id</mat-button-toggle>
        <mat-button-toggle value="All">All</mat-button-toggle>

    </mat-button-toggle-group>
</div>

<div class="mat-elevation-z5 adjust" align="center">
<table mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let todo">{{todo.title}}</td>
    </ng-container>
    <ng-container matColumnDef="completed">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Completed </th>
        <td mat-cell *matCellDef="let todo">{{todo.completed}}</td>
    </ng-container>
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> User Id </th>
      <td mat-cell *matCellDef="let todo">{{todo.userId}}</td>
  </ng-container>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
    <td mat-cell *matCellDef="let todo">{{todo.id}}</td>
</ng-container>
<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[3, 6, 12]" showFirstLastButtons></mat-paginator>
</div>